In [1]:
!pip install gplearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gplearn
  Downloading gplearn-0.4.2-py3-none-any.whl (25 kB)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from gplearn) (1.0.2)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from gplearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->gplearn) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->gplearn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->gplearn) (1.21.6)
Installing collected packages: gplearn
Successfully installed gplearn-0.4.2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from gplearn.genetic import SymbolicRegressor
import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sympy import *
from sklearn.utils.random import check_random_state
import graphviz
import time

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://github.com/Sachinjp14/Thesis/blob/3f5b58c56b972c9cbc3eee1864452e9be9b723a4/equation%204.csv?raw=true")

df.head()

         X1        X2        X3        X4         Y
0  4.725219  1.735492  4.956655  1.984024  6.442611
1  2.948350  3.917977  1.122311  2.076565  3.268741
2  2.056012  4.279370  3.592577  2.878457  3.040191
3  4.479831  4.364756  1.614712  3.498773  7.153415
4  3.310144  1.695486  1.332648  2.947337  3.784738

In [4]:
df = df.dropna()

In [5]:
df

             X1        X2        X3        X4         Y
0      4.725219  1.735492  4.956655  1.984024  6.442611
1      2.948350  3.917977  1.122311  2.076565  3.268741
2      2.056012  4.279370  3.592577  2.878457  3.040191
3      4.479831  4.364756  1.614712  3.498773  7.153415
4      3.310144  1.695486  1.332648  2.947337  3.784738
...         ...       ...       ...       ...       ...
99995  3.596992  4.233839  1.935430  3.787543  6.270531
99996  2.140851  2.861804  4.098083  3.535171  1.552550
99997  1.049337  1.483073  3.130511  2.408602  0.982115
99998  3.932660  4.834658  3.405621  1.210054  7.815475
99999  3.189236  2.788036  3.898669  2.571389  3.695469

[100000 rows x 5 columns]

In [7]:
X = df.drop(['Y'], axis = 1)

In [8]:
X

             X1        X2        X3        X4
0      4.725219  1.735492  4.956655  1.984024
1      2.948350  3.917977  1.122311  2.076565
2      2.056012  4.279370  3.592577  2.878457
3      4.479831  4.364756  1.614712  3.498773
4      3.310144  1.695486  1.332648  2.947337
...         ...       ...       ...       ...
99995  3.596992  4.233839  1.935430  3.787543
99996  2.140851  2.861804  4.098083  3.535171
99997  1.049337  1.483073  3.130511  2.408602
99998  3.932660  4.834658  3.405621  1.210054
99999  3.189236  2.788036  3.898669  2.571389

[100000 rows x 4 columns]

In [9]:
y = df['Y']
y

0        6.442611
1        3.268741
2        3.040191
3        7.153415
4        3.784738
           ...
99995    6.270531
99996    1.552550
99997    0.982115
99998    7.815475
99999    3.695469
Name: Y, Length: 100000, dtype: float64

In [10]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((70000, 4), (30000, 4), (70000,), (30000,))

In [ ]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
scaler.fit(X_train)
train_features = scaler.transform(X_train)
test_features = scaler.transform(X_test)

In [ ]:
test_features

array([[0.1827092 , 0.00573433, 0.71337059],
       [0.11174035, 0.17909944, 0.87801167],
       [0.65821597, 0.77453235, 0.96570729],
       ...,
       [0.64025318, 0.29137216, 0.4689263 ],
       [0.32775612, 0.1025758 , 0.15283047],
       [0.95199251, 0.5150051 , 0.44657199]])

In [11]:
est_gp = SymbolicRegressor(population_size=5000, generations=40, 
                           tournament_size=20, stopping_criteria=0.01, 
                           const_range=(- 1.0, 1.0), init_depth=(2, 6), 
                           init_method='half and half', 
                           #function_set=('add', 'sub', 'mul', 'div'), 
                           metric='mean absolute error', parsimony_coefficient=0.001, 
                           p_crossover=0.95, p_subtree_mutation=0.01, p_hoist_mutation=0.01, 
                           p_point_mutation=0.01, p_point_replace=0.05, max_samples=1.0, 
                           feature_names=X_train.columns, warm_start=False, low_memory=False, 
                           n_jobs=1, verbose=1, random_state=None)

In [12]:
est_gp.fit(X_train, y_train)

    |   Population Average    |             Best Individual              |
---- ------------------------- ------------------------------------------ ----------
 Gen   Length          Fitness   Length          Fitness      OOB Fitness  Time Left
   0    30.34      1.64281e+07        7          1.46918              N/A     32.55m
   1     8.92          3.73927        7          1.41538              N/A     15.61m
   2     6.78          2.80803       13          1.39683              N/A     13.24m
   3     8.24          2.98726       15          1.36618              N/A     14.42m
   4     9.75          2.85805       13          1.34092              N/A     15.53m
   5    11.38           2.5892       17          1.26394              N/A     15.75m
   6    12.70          2.50623       31          1.30561              N/A     16.86m
   7    13.31            2.427       19           1.2878              N/A     17.91m
   8    14.15          2.52712       21          1.26328              N/A     17.33m
   9    16.58          2.32856       29          1.14852              N/A     19.00m
  10    20.81          2.18876       31          1.14466              N/A     20.70m
  11    25.55          2.21341       29          1.08094              N/A     21.98m
  12    33.24          2.30008       47          1.03981              N/A     25.66m
  13    37.28          2.37355       67          1.01124              N/A     18.57m
  14    41.31          2.37312       51          1.00083              N/A     19.54m
  15    45.99          2.19366       51           0.9936              N/A     20.24m
  16    47.58          2.14008       61         0.981069              N/A     20.36m
  17    40.81          2.33292       99         0.968571              N/A     16.63m
  18    39.59          2.48909       83         0.953848              N/A     15.92m
  19    43.59          4.62759       83         0.948206              N/A     16.12m
  20    49.84          2.43312      127         0.938214              N/A     17.07m
  21    59.09          2.23792       95         0.926897              N/A     18.57m
  22    65.70          2.95185      123         0.918634              N/A     19.58m
  23    66.32          2.11074       89         0.917658              N/A     18.03m
  24    61.93          2.27187      145         0.905561              N/A     15.95m
  25    59.90          2.33188      103         0.902734              N/A     14.39m
  26    60.73          2.37326       97         0.901371              N/A     13.68m
  27    60.63          2.31515      111         0.896815              N/A     12.43m
  28    58.23          2.20175      111         0.880558              N/A     11.04m
  29    53.89          2.59632       97         0.878939              N/A      9.44m
  30    52.83          2.52432      125         0.867905              N/A      8.33m
  31    52.14          2.29875      123         0.869212              N/A      7.40m
  32    52.37          2.38241       77         0.854714              N/A      6.44m
  33    55.43          2.39633       75         0.865422              N/A      5.74m
  34    61.90          2.32263       77         0.854714              N/A      5.26m
  35    69.00          2.23646      109         0.832629              N/A      4.58m
  36    76.62          2.29918      109         0.832629              N/A      3.78m
  37    81.86          2.33738      109         0.824784              N/A      2.61m
  38    84.25          2.33846      109         0.824784              N/A      1.34m
  39    84.77          2.27449      109         0.824784              N/A      0.00s

SymbolicRegressor(feature_names=Index(['X1', 'X2', 'X3', 'X4'], dtype='object'),
                  generations=40, p_crossover=0.95, population_size=5000,
                  stopping_criteria=0.01, verbose=1)

In [13]:
t0 = time.time()
y_gp1 = est_gp.predict(X_test)
print('Time to predict:', time.time() - t0, 'seconds')

Time to predict: 0.014410972595214844 seconds

In [14]:
score_gp1 = est_gp.score(X_test, y_test)
print('R2:', score_gp1)

R2: 0.6845885607897022

In [15]:
converter = {
    'add': lambda x, y : x + y,
    'sub': lambda x, y : x - y,
    'mul': lambda x, y : x*y,
    'div': lambda x, y : x/y,
    'sqrt': lambda x : x**0.5,
    'log': lambda x : log(x),
    'abs': lambda x : abs(x),
    'neg': lambda x : -x,
    'inv': lambda x : 1/x,
    'max': lambda x, y : max(x, y),
    'min': lambda x, y : min(x, y),
    'sin': lambda x : sin(x),
    'cos': lambda x : cos(x),
    'pow': lambda x, y : x**y,
}

In [ ]:
!pip install sympy==1.4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sympy==1.4 in /usr/local/lib/python3.7/dist-packages (1.4)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.7/dist-packages (from sympy==1.4) (1.2.1)

In [16]:
next_e = sympify(str(est_gp._program), locals=converter)
next_e

0.515*X1 + 0.53045*X2 + 1.515*X3/X4 - 2.191705625 + 0.515*(X3/X4 - 0.998)*(X3 - X4**2 + (-0.7098*X1 - 0.3549*X2 - 1.0647*X3/X4 + 1.0625706 - 0.3549*(X3 - X4**2)*(X3/X4 - 0.998)/X3 - 0.456976*X4*(X2 - X4**2)/X3**2)/X3)/X3 - 0.34814*(X2 - X4**2)/X3**2

In [ ]:
str(est_gp._program)

'add(div(add(X1, div(div(-0.676, -0.258), div(X3, X1))), div(div(X3, X2), div(X2, mul(X3, div(-0.676, -0.258))))), X1)'

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

est_tree = DecisionTreeRegressor()
est_tree.fit(X_train, y_train)
est_rf = RandomForestRegressor(n_estimators=10)
est_rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10)

In [18]:
score_rf = est_rf.score(X_test, y_test)
score_rf

0.9942151276560968

In [19]:
score_dt = est_tree.score(X_test, y_test)
score_dt

0.9785313767114836

In [ ]:
import os
import random

os.chdir("/content/AI-Feynman/example_data")

def getY(m1,m2,x2,x1,y2,y1,z2,z1):
  y = 9.18*m1*m2/((x2-x1)**2+(y2-y1)**2+(z2-z1)**2)
  return y

def getRow():
  [m1,m2,x2,x1,y2,y1,z2,z1]=[random.random() for x in range(8)]
  
  y=getY(m1,m2,x2,x1,y2,y1,z2,z1)
  return str(m1)+" "+str(m2)+" "+str(x2)+" "+str(x1)+" "+str(y2)+" "+str(y1)+" "+str(z2)+" "+str(z1)+"\n"

with open("duplicateVarsExample.txt", "w") as f:
  for _ in range(1000):
    f.write(getRow())
f.close()

# switch back to the code directory
os.chdir("/content/AI-Feynman/Code")